.sidenav-container {
    background-color: orange;
    max-width: 15%;
}

.nav-menu {
    list-style-type: none;
    padding-left: 0;
}

.nav-menu > li {
    line-height: 2em;
    color: white;
}

.nav-menu > li:hover { 
    color: rgb(245, 245, 245);
    cursor: pointer;
}

.nav-menu > li:focus  {
    outline: 0;
}

/*
  * Profile picture hover functionality
*/

.image-container {
    position: relative;
    width: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9d9d9d43;
    border-radius: 50%;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }

  .image-container:hover .text {
    display: block;
  }
  
  .text {
    color: #555;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}