<mat-drawer-container style="height: 100%;" autosize>
    <mat-drawer #drawer [opened]="true" class="sidenav-container p-3" mode="side">
        <h3 class="text-center text-white" style="font-variant: small-caps;">selfapp</h3>
        <img src="../../../assets/img/no_photo.png" class="custom-circle">
        <div class="text-center text-white mt-3" style="font-size: 1.2em;"> Test test </div>
        <hr class="bg-white" />

        <ul class="nav-menu mt-3">
            <li class="text-center" routerLink="/nav/dashboard">Dashboard</li>
            <li class="text-center" routerLink="/nav/add-photo">Add photo</li>
            <li class="text-center" routerLink="/nav/timeline">My timeline</li>
            <li class="text-center" routerLink="/nav/settings">Settings</li>
            <li (click)="logout()" class="text-center">Logout</li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
    </div>

    <router-outlet></router-outlet>

</mat-drawer-container>