$line-height: 40vh;

img {
    width: 400px;
    // max-height: 400px;
    // min-height: 300px;
    height: 400px;
}

.line {
    z-index: -1;
    position: relative;
    width: 50px;
    height: $line-height;
    margin: 0 auto;
    background-color: orange;
}

.caption-container {
    border: solid 3px orange;
    border-radius: 10px;
    // float: left;
    box-shadow: 0 0 10px #888;
    width: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.caption {
    color: rgb(67, 67, 67);
    font-family: "Brush Script MT", cursive;
    font-size: 2em;
}

.ending-element {
    border: solid 3px orange;
    border-radius: 50%;
    width: 400px;
    height: 250px;
    padding: 5rem;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0 10px #777;
}