<h1 class="text-center section-header"> Dashboard </h1>

<h3 *ngIf="!no_pictures" class="text-center mt-3" style="color: rgb(63, 41, 0)">Recently added photo</h3>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="text-center" *ngIf="no_pictures">
            Add your pictures in <a routerLink="/nav/add-photo">add photo</a> section.
        </div>
        <div *ngIf="!no_pictures">
            <img [interceptedsrc]="photoURL" class="img-thumbnail">
        </div>
    </div>
    <div class="col-4"></div>
</div>