img {
    width: 400px;
    height: 400px;
    /*
    animation-name: heartBeat;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    */
}

// @keyframes heartBeat {
//     0% {
//         width: 300px;
//         height: 300px;
//     }
//     100% {
//         width: 400px;
//         height: 400px;
//     }
// }